<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raffles Unite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>Raffles Unite</h1>
        <div class="dropdown">
            <div class="dropdown-button">☰</div>
            <div class="dropdown-content">
                <a href="{{ url_for('admin') }}">CCAL Login</a> 
                <a href="{{ url_for('home')}}">Home Page</a>
            </div>
        </div>
    </div>

    <div class="section-title">{{ ccaname }}</div>

    <div class="scroll-container">
        {% for game in posts %}
            <div class="card">
                <div class="matchup">{{ ccaname }} vs {{ game.opp }}</div> <!-- ccaname v opp -->
                <div>{{ game.date }} {{ game.time }}</div> <!-- date time -->
                <div class="venue">{{ game.venue }}</div> <!-- venue -->
                <div class="score">{{ game.riscore }} - {{ game.opscore }}</div><!-- riscore v opscore -->
                
                {% if game[8] %}
                    <div class="caption"><em>{{ game.caption }}</em></div> <!-- caption -->
                {% endif %}
            </div>
        {% endfor %}
    </div>

</body>
</html>
