<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Raffles Unite</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="header">
        <h1>Raffles Unite</h1>
        <div class="dropdown">
            <div class="dropdown-button">☰</div>
            <div class="dropdown-content">
                <a href="{{ url_for('admin') }}">CCAL Login</a>
                <b>CCAs</b>
                {% for cca in ccas %}
                    <a href="{{ url_for('cca_page', ccaid=cca.ccaid) }}" style = "background-color: #006837; color: #dfb969;">&emsp;{{ cca.ccaname }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--    UP NEXT     -->
    {% if upcoming %}
        <div class="section-title">UP NEXT</div>
        <div class="scroll-container">
            {% set shown = 0 %}
            {% for game in upcoming %}
                <div class="card">
                    <div style="font-weight: bold; color: #006400;">{{ game[0] }}</div>
                    <h1>RI v {{ game[1] }}</h1> <!-- ccaname v opp -->
                    <div class="venue">{{ game[4] }}</div> <!-- venue -->
                    <div>{{ game[2] }} {{ game[3] }}</div> <!-- date time -->
                </div>
                {% set shown = shown + 1 %}
            {% endfor %}
            {% for i in range(shown) %}
                <div class="card placeholder"></div>
            {% endfor %}
        </div>
    {% endif %}

    <!--    RECENT     -->
    <div class="section-title">RECENT</div>
    <div class="scroll-container">
        {% for game in past %}
            <div class="card">
                <div class="matchup">{{ game[0] }} vs {{ game[1] }}</div> <!-- ccaname v opp -->
                <br>
                <div class="score">{{ game[5] }} - {{ game[6] }}</div><!-- riscore v opscore -->
                <br>
                <div>{{ game[2] }} {{ game[3] }}</div> <!-- date time -->
                <div class="venue">{{ game[4] }}</div> <!-- venue -->
                <br>
                {% if game[8] %}
                    <div class="caption"><em>{{ game[8] }}</em></div> <!-- caption -->
                {% endif %}
            </div>
        {% endfor %}
    </div>
</body>
</html>
